*~
\#*
/eshell
/elpa
recentf
bookmarks
/.emacs.desktop
/auto-save-list
/.session
ido.last


/url/cache
/custom.el
*.elc
CVS
.svn
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
